body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a2e; /* Deep purple background */
    color: #ffffff; /* White text for contrast */
}

.header {
    background-color: #0f3460; /* Dark blue */
    text-align: center;
    padding: 20px 0;
    font-size: 2em;
    font-weight: bold;
    position: relative;
    color: #ff8c00; /* Bright orange accent */
}

.header .logo {
    display: none;
    width: 200px; /* Adjust size as needed */
    height: auto;
}

.header .logo-link {
    display: inline-block;
}

.header:hover .header-text {
    display: none;
}

.header:hover .logo {
    display: inline-block;
}

.nav {
    display: flex;
    justify-content: center;
    background-color: #0f3460; /* Dark blue */
}

.nav a {
    color: #ffffff;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.nav a:hover {
    background-color: #ff00ff; /* Magenta */
    color: #ffd700; /* Bright yellow */
}

.content {
    max-width: 1200px;
    margin: 20px auto;
    background: #0f3460; /* Dark blue */
    padding: 20px;
    color: #ffffff;
    border-radius: 10px;
}

.post {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #ff8c00; /* Bright orange */
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    gap: 20px;
    color: #1a1a2e;
}

.post img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    text-align: left;
}

.post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    line-height: 1.2;
    color: #0f3460; /* Dark blue */
}

.post p {
    font-size: 1.1em;
    line-height: 1.5;
    margin: 0;
}

.post:hover {
    background-color: #ff00ff; /* Magenta */
    color: #ffd700; /* Bright yellow */
}

a {
    text-decoration: none;
    color: inherit;
    display: block; /* Makes the whole block clickable */
}

.latest-episode {
    background-color: #0f3460; /* Dark blue */
    padding: 10px;
    margin: 5px auto;
    width: 80%;
    color: #ffffff;
}

.latest-episode video {
    width: 100%;
    height: auto;
}

.social-media {
    background-color: #000;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-media a {
    display: inline-block;
    color: #ff00ff; /* Magenta */
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.social-media a:hover {
    color: #ffd700; /* Bright yellow */
}
