        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #000000;
        }
        .container {
            text-align: center;
        }
        .logo img {
            max-width: 200px;
            height: 200px;
        }
        .video-container {
            width: 900px;
            height: 700px;
            margin-top: 20px;
            cursor: pointer;
            border-radius: 5px;
            overflow: hidden;
        }
        .video-container video {
            width: 100%;
            height: 100%;
        }
        .click-text {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.6);
            color: red;
            font-size: 24px;
            padding: 12px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            font-family: Bebas Neue, sans-serif;
        }

